<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- INICIO DE SEO -->
   <meta name="description" content="Hullabalooza. 3 días y más de 100 bandas.  26, 27 y 28 de noviembre de 2023 en Sprinfield Fairgrounds.">
   <meta name="keywords" content="musica, hullabalooza, concierto, recital, entradas, lineup, precio, horarios, artistas">
   <title>Hullabalooza 2023 | 27, 28 y 29 de mayo de 2023</title>
<!--FINAL DE SEO-->


   <link rel="shortcut icon" href="../assets/images/icon.png">

<!-- INICIO DE ESTILOS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/translated.css">

<!-- FINAL DE ESTILOS -->

</head>
<body>

<!-- NAV BAR (MOBILE) -->

           <div class="fixed-nav">
               <div class="outer-menu">
               <input class="checkbox-toggle" type="checkbox" />
               <div class="hamburger">
                   <div></div>
               </div>
               <div class="menu">
                   <div>
                   <div>
                       <ul>
                        <li><a class="nav-link" href="../index.html">I. Home</a></li>
                        <li><a class="nav-link" href="../views/news.html">II. News</a></li>
                        <li><a class="nav-link" href="../views/info.html">III. Info</a></li>
                        <li><a class="nav-link" href="../views/aboutus.html">IV. Historia</a></li>
                        <li><a class="nav-link" href="../views/contact.html">V. Contacto</a></li>
                       </ul>
                   </div>
                   </div>
               </div>
               </div>
               </div>
               

       <header>
<!-- OVERLINE -->
           <div class="overline_grid">
               <div class="left_overline">
                   <hr/>
                   <p>SPRINGFIELD FAIRGROUNDS</p>
                   <hr/>
               </div>
               <div class="icon_grid">
                   <img src="../assets/images/icon.png" class="overline_icon" alt="H">
               </div>
               <div class="right_overline">
                   <hr/>
                   <p>25, 26 Y 27 DE NOVIEMBRE, 2023</p>
                   <hr/>
               </div>
             </div>

<!-- LOGO HEADER -->
             <div class="header_title_big"><img src="../assets/images/header_title.png" alt="HULLABALOOZA"></div>
             <div class="header_title_small"><img src="../assets/images/header_title_small.png" alt="HULLABALOOZA"></div>
       </header>
       
<!-- NAV BAR (HORIZONTAL)-->
      <nav>
         <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" href="../index.html">I. Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="../views/news.html">II. News</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="../views/info.html">III. Info</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="../views/aboutus.html">IV. Historia</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="../views/contact.html">V. Contacto</a>
            </li>
         </ul>
      </nav>

<!-- ARTE DE HOME-PAGE -->

       <div class="artindex"> <img src="../assets/images/art/artaboutus.png" alt="Parlantes"></div>
       <div class="artindex-small"> <img src="../assets/images/art/artaboutus-small2.png" alt="Parlantes""></div>    

<!-- ACERCA DE NOSOTROS -->

        <section class="info">
            <h2>Inicio de una tradición</h2>
            <p>Hullabalooza: es un festival musical de los Estados Unidos que originalmente ofrecía bandas de rock alternativo, indie y punk rock; también hay actuaciones cómicas y de danza. Concebido en 1991 por Perry Farrell, cantante de Jane's Addiction, Hullabalooza se realizó anualmente hasta 1997 y fue revivido en 2003. El festival encapsula la cultura joven de los años 1990. "Generación Hullabalooza" es a veces sinónimo de "Generación X". 
            <br>
            El Hullabalooza inaugural estuvo de gira por Estados Unidos y Canadá desde mediados de julio hasta finales de agosto de 1991. El cartel inaugural del Hullabalooza estaba compuesto por artistas del rock alternativo (como Siouxsie and the Banshees, que fueron los segundos artistas principales detrás de Jane's Addiction), música industrial (como Nine Inch Nails) y rap (Ice-T rapeó y usó la plataforma para lanzar Body Count, su banda de heavy metal). El estreno en Phoenix, Arizona, el 18 de julio de 1991, fue cubierto por un reportaje en MTV, que finalizó con este comentario "Hullabalooza podría ser la gira del verano"; la gira terminó en Seattle en agosto. 28 de 1991.
            </p>

            <div class="artindex"> <img src="../assets/images/art/artaboutus2.png" alt="Saxofonista"></div>
            <div class="artindex-small"> <img src="../assets/images/art/artaboutus-small2.png" alt="Saxofonista"></div>   

            <h2>La llegada a LATAM</h2>
            <p>La primera aparición oficial de Hullabalooza fuera de Estados Unidos fue en 2011 en Santiago, Chile, siendo el primer país en Latinoamérica en recibir dicho evento mundial, sumándose una versión brasileña desde 2012. Existe una versión argentina anual en Buenos Aires desde 2014. Se anunció que el primer Festival Hullzabalooza se llevaría a cabo en Europa en septiembre de 2015 en Berlín, en el histórico Aeropuerto de Tempelhof. En julio de 2015, se confirmó una nueva versión para septiembre de 2016 en Bogotá, Colombia en la plaza de eventos del Parque Metropolitano Simón Bolívar. Sin embargo, fue cancelado en julio de 2016.
            <br>
            El 19 de noviembre de 2010, Farrell anunció que el evento se realizaría por primera vez en veinte años fuera de Estados Unidos. La ciudad elegida fue Santiago, en Chile, donde el festival se realizó los días 2 y 3 de abril de 2011. En Chicago, Estados Unidos, se realizó del 5 al 7 de agosto del mismo año.7​ El 4 de abril de 2011, luego de una exitosa versión con más de 100.000 personas en Chile, Farrell y la productora Lotus anunciaron que se realizaría otra versión del festival en Chile en abril de 2012.
            </p>

            <div class="artindex"> <img src="../assets/images/art/artaboutus3.png" alt="Baterista"></div>
            <div class="artindex-small"> <img src="../assets/images/art/artaboutus-small3.png" alt="Baterista"></div>   

            <h2>La expansión</h2>
            <p>En julio de 2011 se confirmó lo dicho al terminar la versión chilena, confirmando que desde 2011 se realizaría una versión anual en Chile, siendo la siguiente los días 31 de marzo y 1 de abril de 2012, además de una versión brasileña en São Paulo los días 7 y 8 de abril del mismo año.
            <br>
            En 2012 se confirma una nueva edición en Tel Aviv en Israel, la cual se realizó el 20, 21 y 22 de agosto de 2013 en el Yarkon Park, además de agregar un tercer día en Brasil, los días 29, 30 y 31 de marzo de 2013, y el 6 y 7 de abril en Santiago de Chile. Cabe destacar que esta versión, a pesar de contar con un día menos, tuvo una cantidad de artistas mayor que la de Brasil.
            </p>


        </section>

<!-- FOOTER-->

       <footer>
           <div class="ads">
               <h2>Auspicia<br></h2>
               <div class="ads-logos">
                   <img src="../assets/images/ad-logos/img-ad-laramie.png" alt="">
                   <img src="../assets/images/ad-logos/img-ad-duff.png" alt="">
                   <img src="../assets/images/ad-logos/img-ad-krusty.png" alt="">
                   <img src="../assets/images/ad-logos/img-ad-buzz.png" alt="">
               </div>
           </div>
           <div class="copyright">
               <h2>© The Hulla-Hulla Company, Reservados todos los derechos.</h2>
           </div>
       </footer>

</body>
</html>