<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- INICIO DE SEO -->
   <meta name="description" content="Hullabalooza. 3 días y más de 100 bandas.  27, 28 y 29 de mayo de 2023 en Sprinfield Fairgrounds.">
   <meta name="keywords" content="musica, hullabalooza, concierto, recital, entradas, lineup, precio, horarios, artistas">
   <title>Hullabalooza 2023 | 27, 28 y 29 de mayo de 2023</title>
<!--FINAL DE SEO-->


   <link rel="shortcut icon" href="../assets/images/icon.png">

<!-- INICIO DE ESTILOS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/translated.css">

<!-- FINAL DE ESTILOS -->

</head>
<body>

<!-- NAV BAR (MOBILE) -->

           <div class="fixed-nav">
               <div class="outer-menu">
               <input class="checkbox-toggle" type="checkbox" />
               <div class="hamburger">
                   <div></div>
               </div>
               <div class="menu">
                   <div>
                   <div>
                       <ul>
                        <li><a class="nav-link" href="../index.html">I. Home</a></li>
                        <li><a class="nav-link" href="../views/news.html">II. News</a></li>
                        <li><a class="nav-link" href="../views/info.html">III. Info</a></li>
                        <li><a class="nav-link" href="../views/aboutus.html">IV. Historia</a></li>
                        <li><a class="nav-link" href="../views/contact.html">V. Contacto</a></li>
                       </ul>
                   </div>
                   </div>
               </div>
               </div>
               </div>
               

       <header>
<!-- OVERLINE -->
           <div class="overline_grid">
               <div class="left_overline">
                   <hr/>
                   <p>SPRINGFIELD FAIRGROUNDS</p>
                   <hr/>
               </div>
               <div class="icon_grid">
                   <img src="../assets/images/icon.png" class="overline_icon" alt="H">
               </div>
               <div class="right_overline">
                   <hr/>
                   <p>25, 26 Y 27 DE NOVIEMBRE, 2023</p>
                   <hr/>
               </div>
             </div>

<!-- LOGO HEADER -->
             <div class="header_title_big"><img src="../assets/images/header_title.png" alt="HULLABALOOZA"></div>
             <div class="header_title_small"><img src="../assets/images/header_title_small.png" alt="HULLABALOOZA"></div>
       </header>
       
<!-- NAV BAR (HORIZONTAL)-->
      <nav>
         <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" href="../index.html">I. Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="../views/news.html">II. News</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="../views/info.html">III. Info</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="../views/aboutus.html">IV. Historia</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="../views/contact.html">V. Contacto</a>
            </li>
         </ul>
      </nav>

<!-- ARTE DE HOME-PAGE -->

       <div class="artindex"> <img src="../assets/images/art/artinfo.png" alt="Público"></div>
       <div class="artindex-small"> <img src="../assets/images/art/artinfo-small.png" alt="Público"></div>    


<!-- MAIN INFO -->

      <section class="info">
         <h2>OBJETOS PERMITIDOS</h2>
            <p>Se permitirá el ingreso al predio de los siguientes items:</p>
            <div class="info-icons">
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-camera.png"/>
                  <p>Cámaras c/ lente fijo</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-repellent.png"/>
                  <p>Repelente</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-bottle.png"/>
                  <p>Botellas vacías</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-sanitizer.png"/>
                  <p>Alcohol en gel (hasta 200 ml)</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-cap.png"/>
                  <p>Gorras y sombreros</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-backpack-small.png"/>
                  <p>Riñoneras o mochilas</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-facemask.png"/>
                  <p>Barbijos y máscaras</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-sunscreen.png"/>
                  <p>Protector solar (hasta 100ml)</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-sunglasses.png"/>
                  <p>Lentes de sol</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-gum.png"/>
                  <p>Chicles</p>
               </div>
            </div>
   

            <h2>OBJETOS PROHIBIDOS</h2>
            <p>Se prohibirá por seguridad, y políticas de los organizadores del evento el ingreso al predio de los siguientes objetos:</p>
            <div class="info-icons">
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-camera-big.png"/>
                  <p>Cámaras profesionales</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-knife.png"/>
                  <p>Elementos punzantes</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-backpack.png"/>
                  <p>Mochilas grandes</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-dron.png"/>
                  <p>Drones</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-umbrella.png"/>
                  <p>Paraguas</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-ball.png"/>
                  <p>Pelotas</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-spray.png"/>
                  <p>Aerosoles</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-selfiestick.png"/>
                  <p>Selfie-sticks</p>
               </div>
               <div class="info-icons_item">
                  <img src="../assets/images/info-icons/icon-fireworks.png"/>
                  <p>Fuegos artificiales</p>
               </div>
            </div>
   
         </section>


<!-- FOOTER-->

       <footer>
           <div class="ads">
               <h2>Auspicia<br></h2>
               <div class="ads-logos">
                   <img src="../assets/images/ad-logos/img-ad-laramie.png" alt="">
                   <img src="../assets/images/ad-logos/img-ad-duff.png" alt="">
                   <img src="../assets/images/ad-logos/img-ad-krusty.png" alt="">
                   <img src="../assets/images/ad-logos/img-ad-buzz.png" alt="">
               </div>
           </div>
           <div class="copyright">
               <h2>© The Hulla-Hulla Company, Reservados todos los derechos.</h2>
           </div>
       </footer>

</body>
</html>
   

   
</body>
</html>