@font-face {
	font-family: Recoleta;
	src: url(../assets/font/Recoleta.ttf);
}
@font-face {
	font-family: RecoletaBold;
	src: url(../assets/fonts/Recoleta-Bold.ttf);
}
@font-face {
	font-family: Carnivale;
	src: url(../assets/fonts/Carnevalee.ttf);
}
@font-face {
	font-family: Sonder;
	src: url(../assets/fonts/Sonder.otf);
}
